<div style="margin-top: 100px;"></div>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Carrinho</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce"><br/><br/><br/>

                        <form action="/checkout">
                            
                            {if="$error != ''"}
                            <div class="alert alert-danger" role="alert">
                            {$error}
                            </div>
                            {/if}

                            <table cellspacing="0" class="table table-striped table-hover shop_table cart">
                                <thead class="black white-text">
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name text-center">Produto</th>
                                        <th class="product-price text-center">Preço</th>
                                        <th class="product-quantity text-center">Quantidade</th>
                                        <th class="product-subtotal text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$products"}
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a title="Remover itens" class="remove btn-sm btn-danger text-center" role="button" href="/cart/{$value.id_product}/remove">X</a> 
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="/products/{$value.des_url}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src=
                                                "{$value.des_photo}"></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="/product/{$value.des_url}">{$value.des_product}</a> 
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">R$ {function="formatPrice($value.price)"}</span> 
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus btn-sm btn-primary" value="-" onclick="window.location.href = '/cart/{$value.id_product}/minus'">

                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="{$value.nrqtd}" min="0" step="1">

                                                <input type="button" class="plus btn-sm btn-primary" value="+" onclick="window.location.href = '/cart/{$value.id_product}/add'">
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">R$ {function="formatPrice($value.vltotal)"}</span> 
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table><br/><br/>

                            <div class="cart-collaterals">

                                <div class="cross-sells">

                                    <p class="h4 mb-4">Cálculo do frete</p>
                                    
                                    <div class="coupon">
                                        <label for="cep">CEP:</label>
                                        <input type="text" placeholder="00000-000" value="{$cart.des_zipcode}" id="cep" class="input-text form-control mb-2" name="zipcode">
                                        <input type="submit" formmethod="post" formaction="/cart/freight" value="Calcular" class="btn btn-primary">
                                    </div>

                                </div>

                                <br/><br/><br/>
                                <div class="cart_totals ">

                                    <p class="h4 mb-4">Resumo da compra</p>

                                    <table cellspacing="0" class="table table-striped">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td><span class="amount">R$ {function="formatPrice($cart.vl_subtotal)"}</span></td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Frete</th>
                                                <td>R$ {function="formatPrice($cart.vl_freight)"}{if="$cart.nr_days > 0"} 
                                                    <small>prazo de {$cart.nr_days} dia(s)</small>{/if}
                                                </td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong>
                                                        <span class="amount">R$ {function="formatPrice($cart.vl_total)"}</span>
                                                    </strong> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="pull-right">
                                <input type="submit" value="Finalizar Compra" name="proceed" class="checkout-button button alt wc-forward btn btn-primary">
                            </div>

                        </form><br/><br/><br/>

                    </div>                        
                </div>                    
            </div>
        </div>
    </div>
</div>