<div style="margin-top: 100px;"></div>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$category.des_category}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$products"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{$value.des_photo}" alt="">
                    </div>
                    <h2><a class="text-secondary" href="/products/{$value.des_url}" style="font-size: 25px">{$value.des_product}</a></h2>
                    <div class="product-carousel-price">
                        <h4 class="font-weight-bold purple-text">
                            <strong>R$ {function="formatPrice($value.price)"}</strong>
                        </h4>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a style="font-size: 20px" class="add_to_cart_button text-success" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Comprar</a>
                    </div>                       
                </div>
            </div>
            {/loop}
        </div>
        
        <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">


          {loop="$pages"}
          <li class="page-item">
            <a class="page-link" href="{$value.link}">
              {$value.page}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {/loop}

        </ul>
      </nav>
      <!--Pagination-->
    </div>
</div>