<div style="margin-top: 100px;"></div>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Esqueceu a Senha?</h2>
                </div>
            </div>
        </div>
    </div>
</div><br/><br/><br/>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-12">

                {if="$errorRegister != ''"}
                <div class="alert alert-danger">
                    {$errorRegister}
                </div>
                {/if}

                <form id="login-form-wrap" class="login text-center border border-light p-5" method="post" action="/forgot">
                    <p class="h4 mb-4">Recuperar Senha</p>
                    <p class="form-row form-row-first">
                        <label for="email">E-mail <span class="required">*</span>
                        </label>
                        <input type="email" id="email" name="email" class="input-text form-control mb-4" style="width:350px">
                    </p>
                    <div class="clear"></div>
                    <p class="form-row">
                        <input type="submit" value="Enviar" name="login" class="button btn btn-info my-4 btn-block">
                        
                    </p>

                    <div class="clear"></div>
                </form><br/><br/><br/>                    
            </div>
        </div>
    </div>
</div>