/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }


/*Category - ver se está funcionando*/
.product-big-title-area {background-color: #6a1b9a; repeat scroll 0 0 #e67e22}

.product-bit-title h2 {
  font-family: verdana;
  font-size: 30px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;color: #fff;
}

/*.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
  padding: 80px 0 130px;
}*/
